.navbar {
    background-color: #F55A5A;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    gap: 7px;
    margin-bottom: 9px;
}

.title {
    font-size: 14px;
    font-weight: normal;
}